@mixin icone($w,$n){ //Função para icone
    position: absolute;
    width: $w;
    height: 30px;
    margin-left: 10px;
    bottom: 7.5px;
    content: '';
    @include background($image,$w*$n 0px,inheret,no-repeat);
}

// Função para definir cor de fundo e cor de fonte
@mixin bgcolor($bg-color, $color){
    background-color: $bg-color;
    color: $color;
}

// Função de background simples com posicionamento e tamanho
@mixin background($image, $position, $size, $repeat){
    background-image: url("#{$image}");
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}

// Função de bg como sprite
@mixin bg-sprite($image-path, $bg-position, $size, $repeat){
    @include background($image-path,$bg-position, $size, $repeat);
}

// Multiple imagens de background através de arrays
// qtd ilimitada de bgs, somente passar o caminhos e parametros de cada
// O sinal de '+' incrementa a propriedade com valores passados
@mixin multiple-backgrounds($position, $size, $repeat, $path:1){

    $qtd : length($path); //qtd de chaves no array

    @while ($index <= $qtd){
        $image:                e(extract($path, $index));
        background-image:      url($image);
        background-position:   extract($position, $index);
        background-size:       extract($size, $index);
        background-repeat:     extract($repeat, $index);
        @include loop($index + 1);
    } 

}
