/*
*   Created on : 17/05/2017, 22:27:37
    Author     : Iran
*/

// Função para carregamento das fontes */
@mixin load-font($fontname, $font-directory){
    
    $dirFont: $font-directory;
    
    @font-face {
        font-family: "#{$fonte}";
        src: url("#{$dirFont}#{$fontename}.eot?#iefix");
        src: url("#{$dirFont}#{$fontename}.eot?#iefix") format("eot"),
             url("#{$dirFont}#{$fontename}.woff") format("woff"),
             url("#{$dirFont}#{$fontename}.ttf") format("truetype"),
             url("#{$dirFont}#{$fontename}.svg") format("svg");
    }
}
