/* Funções */

/* $image: imagem de background
*  $w: largura da imagem
*  $h: altura da imagem
*  $reducao: variavel para redução*/
@mixin navicon($image, $w, $h,  $reducao){ //Nav-icon
    
    //reducao
    $width:  $w / $reducao;
    $height: $h / $reducao;
    
    //posicionamento
    $pequeno: $width / 3;
    $grande:  $height;

    //atributos
    position: relative;    
    
    &::before{
        content: "";
        width: $pequeno;
        height: $height;
        @include center-block;
        @include background($image, 0px 0px, cover , no-repeat);
    }
    
    &:hover{
        &::before{
            opacity: 0.5;
        }
    }
    
    //1:integracao 2:conteúdo 3:mobile-marketing
    &.bg-img-2{
        &::before{
            background-position: -$pequeno 0px;            
        }        
    }
    
    &.bg-img-3{
        &::before{
            background-position: -$pequeno*2 0px;            
        }        
    }
    
}

//Bloco de Seções
@mixin  bloco($bgcolor,$color,$margin, $padding){ // Estilo os blocos

    @include bgcolor($bgcolor, $color);
    padding-top: $padding;
    padding-bottom: $padding;
    margin-top: $margin;
    margin-bottom: $margin;
}

//Função do Link Position
@mixin  link_position($float, $color, $image){ 
        
    @include background($image,left top 5px, 20px 19px, no-repeat);
    float: $float;
    position: relative;
    display: inline-block;
    color: $color;
    
    &:hover{
        text-decoration: underline;
    }
}

// Estilo para os campos de formulários
// Para plugin Wordpress: Contact Form 7
.form-formation{ 
    margin-top: 15px;

    p{
       @include nomargin-nopadding;
        margin-bottom: 5px;

        &:not(:last-of-type){
            color: $color-default;
            width: 100%;
            height: auto;
        }

        &.pergunta{
          color: $white;          
        }

        &.checkbox{
          color: $white;
          span.wpcf7-form-control-wrap{

            position: relative;
            display: inline;

            span.wpcf7-list-item{

              margin-left: 20%;

              &.first{
                margin-left: -3px;
                float: left;
              }

              &.last{
                margin-right: -1px;
                float: right;
              }

              input{
                visibility: hidden;
                position: absolute;

                & ~ span.wpcf7-list-item-label::before{
                  content: "";
                  display: inline-block;
                  background-color: transparent;
                  border: 2px solid $white;
                  border-radius: 3px;
                  width: 17px;
                  height: 16px;
                  margin: 0px 5px -3px 0px;
                  cursor: pointer;
                }

                &:checked{
                  & ~ span.wpcf7-list-item-label::before{
                    @include background("footer/checked.jpg", center center, auto, no-repeat);
                    background-color: $light-blue;
                    border-color: $light-blue;
                  }
                }

              }
            }
          }
        }

        span.wpcf7-form-control-wrap{

            $w: 30px;
            display: block;
            height: 35px;

            &.your-mensagem{
                height: 60px;
            }

            @mixin icone($w,$n){ //Função para icone
                position: absolute;
                width: $w;
                height: 30px;
                margin-left: 10px;
                bottom: 7.5px;
                content: '';
                @include background("footer/icon-form.png",$w*$n 0px,inheret,no-repeat);
            }

            &.your-name::before{
                @include icone($w,0);
            }

            &.your-email::before{
                @include icone($w,-1);
            }

            &.your-business::before{
                @include icone($w,-2);
            }

            &.your-telefone::before{
                @include icone($w,-3);
            }

            &.your-assunto::before{
                @include icone($w,-4);
            }

            &.your-message::before{
                @include icone($w,-5);
                bottom: inheret;
                top: 1px;
            }

            &.your-linkedin::before{
                @include icone($w,-6);
                bottom: inheret;
                top: 1px;
            }

            input:not([type='submit']),
            input[type='file'] ~ label span,
            textarea{
                height: 35px;
                width: 100%;
                padding: 10px 10px 10px 50px;
                border: 0px;
                border-bottom: 1px solid fadeout($light-blue,90%);
                border-radius: 3px;

                &.wpcf7-textarea{
                    height: 80px;
                }
            }

            span.wpcf7-not-valid-tip{
                position: absolute;
                z-index: 100;
                right: 15px;
                margin-top: -30px; 
            }

        }

        input[type='submit']{
            @include bgcolor($light-blue,$white);
            @include pull-right;
            margin-top: 10px;
            padding: 15px;
            line-height: 14px;
            border: 0px;
            border-radius: 5px;
            text-transform: uppercase;
            font-weight: $heavy;
        }

    }

    div.wpcf7-response-output{
        @include nomargin-nopadding;
        position: absolute;
        display: inline-block;
        margin-top: -15px;
        border: 0px;
        width: 60%;
        color: $white; 
    }

}
