//Funções Misc

// Função para definir bg e cor da fonte
// dos blocos numerados
@mixin fn-bg-topic($bg, $font-color){

    @include bgcolor($bg, $font-color);

    & > .topic.bg-white h3{
        color: $bg;
    }
}

// Função que define estilo para icones nos tópicos
@mixin fn-icone($bg-image, $bg-position, $float, $margin, $w, $h){
    @include background($bg-image, $bg-position, cover, inherit);
    width: $w;
    height: $h;
    float: $float;
    margin: $margin;
    content: "";
    background-repeat: no-repeat;
}

//Botao Qtd
@mixin gradient-border($color-top, $color-bottom){
    border-bottom: 1px solid $color-bottom;
    background: -webkit-linear-gradient(left top, $color-top, $color-bottom), 
                -webkit-linear-gradient(right top, $color-top, $color-bottom);
    background:
        -moz-linear-gradient(left top, $color-top, $color-bottom), 
        -moz-linear-gradient(right top, $color-top, $color-bottom);                        
    background:
        -o-linear-gradient(left top, $color-top, $color-bottom), 
        -o-linear-gradient(right top, $color-top, $color-bottom); 
    background: 
        linear-gradient(left top, $color-top, $color-bottom), 
        linear-gradient(right top, $color-top, $color-bottom); 

    -moz-background-size: 1px 100%;                    
    background-size: 1px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

//Sem padding e margin
@mixin nomargin-nopadding{
    margin: 0px;
    padding: 0px;
}

//Centralizar elementos
@mixin center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//ELemento para a direita
@mixin pull-right{
    float: right;
    display: inline-block;
}
