//flutuar
.flutuar{
    position: fixed;
    z-index: 99999;
    width: 100% !important;
    top: 0px;
    animation: flutuar 0.8s 1;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);    
}

//Botão
.botao{
    @include btn-quadrado($laranja, $branco);
    border: 0px;
    border-bottom: 2px solid darken($laranja, 10%);
}

.nomargin-nopadding{
   @include nomargin-nopadding;
}

.list-inline{
  @include nomargin-nopadding;
  li{
    display: inline;
    list-style: none;
  }
}

.img-responsive{
  width: 100%;
  height: auto;
  max-width: 100%;
}  

.alignleft{
    float: left;
    margin: 0.5em 1em 0.5em 0;
    clear: both;
}

.alignright{
    float: right;
    margin: 0.5em 0 0.5em 1em;
    clear: both;
}

.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}